/* Editor styles */
#editor {
    width: calc(100% - 50px);
    height: 297mm;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 14px;
    overflow-y: auto;
    background-color: #fff;
  }

  /* Table styles */
  table {
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 10px;
  }

  /* Image styles */
  img {
    max-width: 100%;
    height: auto;
  }

  .btn-toolbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20px;
    left: 20px;
  }

  .btn-toolbar .btn, .dropdown-menu button {
    margin-right: 5px;
  }

  .dropdown .dropdown-toggle::after {
    display: none;
  }
.menu {
    width: 20px;
}
  .dropdown-menu {
    padding: 10px;
    border-radius: 0;
  }

  .dropdown-menu button {
    width: 100%;
    text-align: left;
  }

  .fixed-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
  }

  .fixed-buttons .btn {
    margin-top: 5px;
  }

  #custom-font-size {
    display: none;
    margin-top: 5px;
  }